body {
	color: #fff;
	background: linear-gradient(#525151, #afafaf);
	background-repeat: no-repeat;
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
}

header {
	padding: 15px 0 15px 0;
	margin: 0 auto 0 auto;
	text-align: center;
	border-bottom: 2px solid #787878;
}
h1 {
	margin: 0 auto;
}

/* Navigation styling start */

.siteNav {
	max-width: 1000px;
	height: 50px;
	margin: 15px auto 0 auto;
}
.siteNav a {	
	color: #fff;
	text-decoration: none;
/* diplay: block; to make the link fill the li area */
	display: block;
	transform: skewX(-15deg);	
}
.siteNav li {
	list-style: none;
	float: left;
	width: 15%;
	height: 50px;
	font-size: 150%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 50px;
	transform: skewX(15deg);
	transition: all 1s;
	background-color: hsl(168, 100%, 30%);
}
.siteNav li:hover {
	background-color: hsl(168, 100%, 50%);
	transition: all 1s;
}
.siteNav li:active {
	background-color: hsl(168, 100%, 30%);
}

/* Naviagation styling end */

/* Container style starts */
.container {
	margin: 0 auto 0 auto;
	width: 1000px;
	padding-bottom: 100px;
	box-sizing: border-box;
}
.content {
	margin: 15px auto 50px auto;
	border-radius: 10px;
	width: 80%;
	height: 500px;
}
.content h1, .content p{
	margin-left: 20px;
	margin-top: 20px;
}
.content p {
	margin-top: 10px;
}
/* Container style ends */

/* Thumbnail styling start */
.thumbnail-object img {
	height: 150px;
	width: 150px;
	margin-left: 20px;
	display: block;
}
.thumbnail-object {
	float: left;
	position: relative;
}
.thumbnail-object:hover {
	transition: all 1s;
	transform: scale(1.1);
}
.thumbnail-description {
	position: absolute;
	background-color: rgba(0,0,0,0.25);
	text-align: center;
	width: 150px;
	bottom: 0;
	margin-left: 20px;
}
/* Thumbnail styling end */


@media (max-width: 480px) {
	.siteNav {
		height: 120px;
		margin-right: 20px;
	}
    .siteNav a {
		transform: none;
	}
	.siteNav li {
		width: 31%;
		transform: none;
		margin: 0 5px 5px auto;		
	}
	.container {
		width: 100%;
	}
	.content {
		width: 95%;
		height: 400px;
		margin-top: 0;
	}
	
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
body {
	margin: 0;
	padding: 0;
}