html {
	background-color: #d6d6d6;
	font-family: 'Roboto Mono', monospace;
}

body {
	/* max-width: 1200px; */
	margin-left: 0;
	margin-right: 0;
}

header {
	margin: 40px auto 0 auto;
	text-align: center;
	border-bottom: 2px solid #787878;
}

/* Navigation styling start */

.siteNav {
	/* max-width: 1200px; */
	height: 50px;
	margin: 15px auto 0 auto;
}

.siteNav a {
	text-decoration: none;
/* diplay: block; to make the link fill the li area */
	display: block;
}

.siteNav li {
	list-style: none;
	float: left;
	width: 15%;
	height: 50px;
	font-size: 150%;
	border-radius: 5px;
	text-align: center;
	margin: 0 15px 15px 0;
	line-height: 50px;
}

.siteNav li:hover {
	background-color: #b0b0b0;
}

.siteNav li:active {
	background-color: #e3e3e3;
}

/* Naviagation styling end */

.container {
	width: 1200px;
	margin: 20px auto 0 auto;
}

.content {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #dbdbdb;
	border-radius: 10px;
	width: 70%;
	height: 600px;
	background-color: #4aff95;
}

.content h1, .content p{
	margin-left: 20px;
	margin-top: 40px;
}

.content p {
	margin-top: 10px;
}

.thumbnails img {
	height: 150px;
	width: 150px;
	margin-left: 20px;
	display: block;
}

.spectrumV {
	position: relative;
}

.spectrumVDescription {
	position: absolute;
	bottom: -13px;
	font-size: 80%;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	width: 150px;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
body {
	margin: 0;
	padding: 0;
}
.image1 {
	float: left;
	width: 49%;
}
.image2 {
	float: right;
	width: 49%;}