body {
	color: #fff;
	background: linear-gradient(#080808, #afafaf);
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
}

header {
	padding: 15px 0 15px 0;
	margin: 0 auto 0 auto;
	text-align: center;
	border-bottom: 2px solid #787878;
}

/* Navigation styling start */

.siteNav {
	margin: 15px auto 0 auto;
	display: none;
}

.siteNav ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-right: 10px;
    padding-left: 10px;
}

.siteNav a {	
	color: #fff;
	padding: 10px 10px;
	text-decoration: none;
/* diplay: block; to make the link fill the li area */
	display: block;
}

.siteNav li {
	list-style: none;
	flex-basis: 15%;
	text-align: center;
	align-content: center;
	transition: all 1s;
	background-color: hsl(168, 100%, 30%);
	margin: 0 auto;
}

.thumbnails {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.thumbnail-object {
	flex-basis: 25%;
}

@media (max-width: 568px) {
	.siteNav li {
		flex-basis: 48%;
		margin: 0 5px 5px 0;
	}
	h1 {
		font-size: 1.5rem;
	}
	.thumbnail-object {
		flex-basis: 1;
	}
	.thumbnail-object {
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 968px) and (min-width: 569px) {
	.siteNav li {
		flex-basis: 32%;		
		margin: 0 5px 5px 0;
	}
	h1 {
		font-size: 1.5rem;
	}
	.thumbnail-object {
		flex-basis: 33%;
	}
}
@media (min-width: 968px) {
	.siteNav li {
		transform: skewX(15deg);
	}
	.siteNav a {
		transform: skewX(-15deg);
	}
	.container {
		width: 60%;
	}
}

.siteNav li:hover {
	background-color: hsl(168, 100%, 50%);
	transition: all 1s;
}
.siteNav li:active {
	background-color: hsl(168, 100%, 30%);
}

/* Naviagation styling end */

/* Container style starts */
.container {
	margin: 0 auto 0 auto;
	padding-bottom: 100px;
	box-sizing: border-box;
}
.content {
	margin: 15px auto 50px auto;
	border-radius: 10px;
	width: 80%;
	height: 500px;
}
.content h1, .content p{
	margin-left: 20px;
	margin-top: 20px;
}
.content p {
	margin-top: 10px;
}
/* Container style ends */

/* Thumbnail styling start */

.thumbnail-object img {
	height: 150px;
	width: 150px;
	display: block;
}
.thumbnail-object {
	height: 150px;
	width: 150px;
	position: relative;
	margin-bottom: 10px;
}

.thumbnail-description {
	position: absolute;
	background-color: rgb(54, 54, 54);
	text-align: center;
	width: 150px;
	bottom: 0;
}