html {    
	background-color: #669494;
	font-family: Arial, sans-serif;
    font-size: 87%;
}
body {

    margin: 0;
}
header {
    background-color: #008080;
    color: #ffffff;
}
h1 {
	margin: 0;
	}
.slogan {
        margin-top: 0px;
    }
.container {    
    max-width: 940px;
    margin: 0 auto;
}
/* Navigation */
.site-nav li {
	list-style: none;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	}
.site-nav a {
	display: block;
	text-decoration: none;
	color: #008080;
	border: 2px solid #ffffff;
	padding: 10px 20px;
	background-color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	}
.site-nav a:hover {
	background-color: #ffffff;
	font-weight: bold;
}
ul {
	margin: 0;
	padding: 0;
	}
/* End of Navigation */
.content-area {
    background-color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
footer {
    text-align: center;
}
/* Float fix */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
/* End of float fix */