/* Custom Fonts */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/ptsans-regular-webfont.eot') format('eot');
	src: url('fonts/ptsans-regular-webfont.eot#iefix') format('embedded-opentype'),
		 url('fonts/ptsans-regular-webfont.woff') format('woff'),
		 url('fonts/PTSans-Regular.ttf') format('truetype'),
		 url('fonts/ptsans-regular-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('fonts/ptsans-bold-webfont.eot') format('eot');
	src: url('fonts/ptsans-bold-webfont.eot#iefix') format('embedded-opentype'),
		 url('fonts/ptsans-bold-webfont.woff') format('woff'),
		 url('fonts/PTSans-Bold.ttf') format('truetype'),
		 url('fonts/ptsans-bold-webfont.svg#pt_sansregular') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PTSans';
	src: url('fonts/ptsans-italic-webfont.eot') format('eot');
	src: url('fonts/ptsans-italic-webfont.eot#iefix') format('embedded-opentype'),
		 url('fonts/ptsans-italic-webfont.woff') format('woff'),
		 url('fonts/ptsans-italic-webfont.ttf') format('truetype'),
		 url('fonts/ptsans-italic-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PTSans';
	src: url('ptsans-bolditalic-webfont.eot') format('eot');
	src: url('ptsans-bolditalic-webfont.eot#iefix') format('embedded-opentype'),
		 url('ptsans-bolditalic-webfont.woff') format('woff'),
		 url('ptsans-bolditalic-webfont.ttf') format('truetype'),
		 url('ptsans-bolditalic-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: italic;
}
/* End of custom fonts */
html {
	background-color: #008080;
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 87%;
}
.container {
		max-width: 940px;
		margin: 0 auto;
		color: #ffffff;
}
.container p {
	color: #ffffff;
}
.content-area p {
	color: #ffffff;
}

h1 {
	margin: 0;
	}
.slogan {
	margin-top: 0px;
}

/* Site Navigation */
.site-nav li {
	list-style: none;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	}
.site-nav a {
	display: block;
	text-decoration: none;
	color: #008080;
	border: 2px solid #ffffff;
	padding: 10px 20px;
	background-color: #ffffff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
	}
.site-nav a:hover {
	background-color: #ffffff;
	font-weight: bold;
}
ul {
	margin: 0;
	padding: 0;
	}
@media screen and (max-width: 700px) {
	.site-nav li {
		width: 33.332%;
		margin-right: 0;
		margin-bottom: 0;
		text-align: center;
				}
		.site-nav a {
			padding: 25px 0;
			font-size: 150%;
			margin-right: 5px;
			}
		.site-nav a:hover {
				background-color: #e8fffd;
				font-size: 150%;
			}	
}
@media screen and (max-width: 480px) {
	.site-nav li {
		width: 50%;
		margin-right: 0;
			}
		.site-nav a:hover {
			background-color: #e8fffd;
			font-size: 150%;
					}
		.site-nav {padding-left: 5px;}
				}
/* End Site Navigation */
/* Sprites */
.sprites_menu ul {
	margin: 10px 0;
	padding: 0;
	}
.sprites_menu li {
	list-style: none;
	margin-left: 10px;
	float: left;
	}
.sprites_menu a {
	text-decoration: none;
	text-align: bottom;
	display: block;
	height: 50px;
	width: 50px;
	background-image: url(../images/sprites.png);
	text-indent: -99999px;
}
.sprites_settings a {background-position: 0 -100px;}
.sprites_profile a {background-position: 0 -50px;}
.sprites_home a:hover {background-position: -50px 0;}
.sprites_profile a:hover {background-position: -50px -50px;}
.sprites_settings a:hover {background-position: -50px -100px;}
/* End Sprites */
/* Banner overlay */
img { 
	margin-top: 10px;
	width: 100%;
	height: auto;
	}
.image-banner {
	overflow: hidden;
	position: relative;
	}
.image-banner img{
	display: block;
	}
.banner-description {
	position: absolute;
	text-align: center;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.75);
	color: #cfcfcf;
	width: 100%;
	box-sizing: border-box;
	}
.image1:hover, .image2:hover {
	   transform: scale(1);
	   transition: all 2s;
   }
/* Banner overlay ends */
.content-area {
	background-color: #ffffff;
	}
.para1 {
float: left;
width: 67%;
padding: 10px 30px;
margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
box-sizing: border-box;
font-size: 95%;
background-image: linear-gradient(to right, #3eb9b3, #6141b9);
background-image: -ms-linear-gradient(left, #3eb9b3, #6141b9);
}
.para2 {
float: right;
width: 30%;
background: #4dffee url(../images/para2_bg.jpg) center center no-repeat;
padding: 10px 30px;
margin-top: 20px;
box-sizing: border-box;
font-size: 85%;
color: #ffffff;
font-weight: bold;
}
.non-mobile {
	padding: 5px;
	max-width: 940px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	box-sizing: border-box;
	}
@media screen and (max-width: 700px) {
	.para1,
	.para2 {
		width: auto;
		float: none;
		margin-bottom: 10px;
		}
}
@media screen and (max-width: 480px) {
	.para1,
	.para2 {
		padding-left: 10px;
		padding-right: 10px;
		}
	}

@media screen and (max-width: 480px) {
 .non-mobile {display: none;}
}
@media screen and (min-width: 1500px) {
	.container {
		max-width: 1350px;
		font-size: 150%;
			}
   }
/* Strip images */

/* Strip images */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
body {
	margin: 0;
	padding: 0;
}
.image1 {
	float: left;
	width: 49%;
}
.image2 {
	float: right;
	width: 49%;