body {
    position: relative;
}

.box {
    position: relative;
    background-color: #9ad379;
    color: #fff;
    width: 90%;
    height: 80%;
    margin: 10px auto;
    box-shadow: 0 0 10px #ffffff;
    display: flex;
    justify-content: space-evenly;  
}

.playerOne, .playerTwo {
    flex-basis: 50%;
}

.score-box {
    position: relative;
}

.score-box, .score-box-round {
    height: 125px;
    width: 125px;
    margin: 50px auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative;
    color: #000;
}

.score-box-round {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 2em;
}
#score-num-one, #score-num-two {
    position: relative;
    top: 0;
    font-size: 5em;
    margin-bottom: 0;
}

#player-one-label, #player-two-label {
    font-size: 0.75em;
    position: absolute;
    padding: 10px 20px;
    background-color: #db1f6a;
    color: #fff;
    /* border-radius: 3px; */
    width: inherit;
    box-sizing: border-box;
    bottom: 0;
}


/* Roll and hold buttons start */
#player-one-roll, #player-two-roll, #player-one-hold, #player-two-hold, #button-start-stop {
    position: absolute;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: #0bd43d;
    width: 15%;
    border: 0;
    padding: 0;
}
#player-one-roll, #player-two-roll {
    top: 75%;
}
#player-one-hold, #player-two-hold {
    background-color: #e21b1b;
    top: 88%;
}
#player-one-roll, #player-one-hold {
    left: 17%;
}
#player-two-roll, #player-two-hold {
    left: 68%
}
.button-roll-hold a, #button-start-stop {
    display: block;
    text-decoration: none;
    line-height: 40px;
    padding: 0;
    color: #fff;
}
/* Roll and hold buttons end */

/* Dice styling start */
#dice {
    position: absolute;
    top: 150px;
}
#dice {
    height: 100px;
    left: 43%;
    animation-name: shake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
}
@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-20deg);}
    75% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}
/* Dice styling end */

#button-start-stop {
    position: absolute;
    left: 43%;
    top: 300px;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

#game-end {
    position: absolute;
    top: 40px;
    padding: 10px 40px;
    display: block;
    text-align: center;
    background-color: #db1f6a;
    color: #ffffff;
    opacity: 0;
}
#game-end p {            
    margin: 2px auto 2px auto;
    font-size: 12px;
}
#game-end p:first-child {
    font-size: 16px;
    padding-bottom: 5px;
}


/* Reversing index.css styling */
.content h1, .content p{
	margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    body {
        background-repeat: no-repeat;
    }
    .siteNav li {
        font-size: 120%;
    }
    .container {
        padding-bottom: 30px;
    }
    .content {
        margin-bottom: 0;
        height: 350px;
    }
    .box {
        box-shadow: none;
        height: 100%;
    }
    .score-box {
        width: 50%;
        height: 28%;
        margin-top: 80px;
        margin-bottom: 0;
    }
    .score-box-round {
        height: 50px;
        width: 50px;
        margin: 5px auto;
    }
    #score-num-round-one, #score-num-round-two {
        height: 50px;
        line-height: 50px;
    }
    #score-num-one, #score-num-two {
        font-size: 4em;
    }
    #player-one-label, #player-two-label {
        font-size: 0.75em;
        position: absolute;
        padding: 0px 10px;
        bottom: 0;
    }
    #player-one-roll, #player-two-roll, #player-one-hold, #player-two-hold, #button-start-stop {
        position: absolute;
        padding: 6px 15px;
        border-radius: 2px;
        background-color: #0bd43d;        
        width: 20%;
        border: 0;
        padding: 0;
    }
    #player-one-hold, #player-two-hold {
        background-color: #e21b1b;
        top: 85%;
    }
    #player-one-roll, #player-one-hold {
        left: 15%;
    }
    #player-one-roll, #player-two-roll {
        top: 70%;
    }
    #player-two-roll, #player-two-hold {
        left: 65%
    }
    #player-one-label, #player-two-label {
        width: 100%;
    }
    #dice {
        position: absolute;
        top: 40%;
        height: 50px;
        left: 43%;
    }
    #button-start-stop {
        position: absolute;
        left: 40%;
        top: 65%;
        width: 20%;
        height: 20%;
        height: 60px;
        line-height: 60px;
    }
    #game-end {
    margin-top: 10px;
    top: 0;
    padding: 5px 10px;
    display: block;
    text-align: center;
    background-color: #db1f6a;
    color: #ffffff;
    opacity: 0;
    }
    #game-end p {
        margin: 2px auto 2px auto;
        font-size: 10px;
    }
    #game-end p:first-child {
        font-size: 12px;
        padding-bottom: 5px;
    }
}