body {
    max-width: 100%;
}
.box {
    background: linear-gradient(rgb(129, 156, 87), #fff);
    border-radius: 5px;
    margin: 30px auto 0 auto;
    /* width: 700px; */
}
.row-one, .row-two, .row-three {
    color: #fff;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}
.score-box-one, .score-box-two {
    flex: 1;
}
.game-end {
    flex: 0.5;
}

/* ROW ONE START */

.row-one {
    position: relative;
    height: 200px;
    justify-content: space-evenly;
}
.score-box-one, .game-end, .score-box-two {
    position: relative;
    color: #000;
    text-align: center;
    margin: 20px auto;
    height: 70%;
}
#score-num-one, #score-num-two {
    height: 70%;
    width: 50%;
    background-color: #fff;
    font-size: 5em;
    margin: 0 auto;
    border-radius: 5px;
}
#score-num-one, #player-one-label {
    position: absolute;
    right: 0;
}
#score-num-two, #player-two-label {
    position: absolute;
    left: 0;
}
#player-one-label, #player-two-label {
    margin: 0 auto;
    height: 30%;    
    width: 50%;
    font-size: 1em;
    line-height: 100%;
    padding: 15px 20px;
    background-color: #db1f6a;
    color: #fff;
    box-sizing: border-box;
    bottom: 0;
}
.score-box-one {
    margin-right: 5%;
}
.score-box-two {
    margin-left: 5%;
}
.game-end {
    display: block;
    top: -700px;
    height: 200px;
    width: 450px;
    position: absolute;
    padding: 10px 40px;
    text-align: center;
    background-color: #3ef58a;
    color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
}
.game-end-show {
    top: 100px;
    animation-name: game-end-show;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0ms;
}
@keyframes game-end-show{
    0% {top: -700px;}
    60% {top: 100px;}
    80% {top: 90px;}
    100% {top: 100px;}
}
.game-end p {            
    margin: 2px auto 2px auto;
    font-size: 12px;
}
.game-end p:first-child {
    font-size: 24px;
    padding-bottom: 5px;
}
.close-pop {
    position: absolute;
    background-color: #fa4b4b;
    margin-top: -2px;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: grab;
}
/* ROW ONE END */

/* ROW TWO START */
.row-two {
    height: 100px;
}
.score-round-one, .score-round-two, .dice-image {
    flex: 0.5;    
    margin: 20px auto;
}
.round-score-one, .dice-image, .round-score-two {
    position: relative;
    height: 100px;
    color: #000;
    line-height: 200px;
    text-align: center;
    font-size: 5em;
    width: 40%;
}
#score-num-round-one, #score-num-round-two {
    height: 100%;
    width: 40%;
    line-height: 100%;
    background-color: #fff;
    font-size: 1em;
    margin: 0 auto;
    border-radius: 5px;
}
#score-num-round-one {
    position: absolute;
    right: 0;
}
#score-num-round-two {
    position: absolute;
    left: 0;
}
/* Dice styling start */
.dice-image {
    height: 100px;
    line-height: 0;
}
#dice {
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
    background-color: rgb(0,0,0,0)
}
img {
    height: 100px;
}
.dice-image p {
    margin: 0 auto;
}
@keyframes shake {
    0% {transform: scale(1);}
    50% {transform: scale(1.01);}
    100% {transform: scale(1);}
}
/* Dice styling end */
/* ROW TWO END */

/* ROW THREE START */

/* Roll and hold buttons start */
.row-three {
    height: 200px;
}
.button-one, .button-two, .button-start {
    position: relative;
    flex: 0.5;    
    margin: 5% auto 2% auto;
}
#player-one-roll, #player-two-roll, #player-one-hold, #player-two-hold, #button-start-stop {
    font-family: 'Roboto Mono', monospace;
    background-color: #0bd43d;
    margin: 0 auto;
    color: #fff;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin-bottom: 10px;    
    border-radius: 5px;
}
#player-one-roll, #player-one-hold {
    position: absolute;
    width: 40%;
    right: 0;
    cursor: grab;
}
#player-two-roll, #player-two-hold {
    position: absolute;
    width: 40%;
    left: 0;
    cursor: grab;
}
#player-one-roll, #player-two-roll {
    position: absolute;
    top: 0;
}
#player-one-hold, #player-two-hold {
    position: absolute;
    bottom: 0;
}
button:hover, #button-start-stop:hover {
    transition: all 1s;
    transform: scale(1.05);
}
#player-one-hold, #player-two-hold {
    background-color: #e21b1b;
}
#button-start-stop {
    height: 70x;
    font-size: 1em;
    width: 50%;
}
.button-roll-hold a {
    text-decoration: none;
    color: #fff;
}
/* Roll and hold buttons end */

/* ROW THREE END */



@media (max-width: 480px) {
    h1 {
        margin: 2px auto;
    }
    ul {
        margin: 5px auto;
        width: 100%;
        padding-left: 0;
    }
    .siteNav {
        margin: 1px auto;
        height: 70px;
    }
    .siteNav a {
        transform: none;
    }
    .siteNav li {
        width: 32.5%;
        transform: none;
        height: 45px;
        line-height: 45px;
        font-size: 1em;
        margin: 0 2px 2px 0;
    }
    .container {
        width: 95%;
        margin: 2px auto;
        padding-bottom: 10px;
    }
    .row-one {
        height: 110px;
    }
    .score-box-one, .score-box-two {
        position: relative;
        color: #000;
        text-align: center;
        margin: 8px auto 2px auto;
        height: 70%;
        line-height: 53px;
    }
    #score-num-one, #score-num-two {
        height: 70%;
        font-size: 3em;
        width: 90%;
    }
    #player-one-label, #player-two-label {
        height: 30%;
        line-height: 23px; 
        width: 90%;
        font-size: 0.5em;
        padding: 0 5px;
        background-color: #db1f6a;
    }
    .score-round-one, .score-round-two, .dice-image {   
        margin: 5px auto;
    }
    .round-score-one, .dice-image, .round-score-two {
        font-size: 3em;
    }
    #score-num-round-one, #score-num-round-two {
        height: 60%;
        width: 70%;
        font-size: 1.1em;
    }
    #score-num-round-one {
        right: 14%;
    }
    #score-num-round-two {
        left: 14%;
    }
    .row-three{
        height: 150px;
    }
    #player-one-roll, #player-two-roll, #player-one-hold, #player-two-hold, #button-start-stop {
        height: 100px;
        line-height: 100px;
    }
    #player-one-roll, #player-one-hold {
        width: 90%;
        height: 50px;
        line-height: 50px;
        right: 0;
    }
    #player-two-roll, #player-two-hold {
        width: 90%;
        height: 50px;
        line-height: 50px;
        left: 0;
    }
    #button-start-stop {
        height: 50px;
        font-size: 1em;
        margin-top: 30px;
        line-height: 50px;
        width: 70%;
    }
    .score-box-one, .score-box-two, .game-end {
        flex: 1;
    }
    .game-end {
        position: absolute;
        height: 200px;
        width: 300px;
        padding: 2px 2px;
        box-sizing: border-box;
        z-index: 1;
    }
    .score-box-one {
        margin-right: 5%;
    }
    .score-box-two {
        margin-left: 5%;
    }
    .game-end p {            
        margin: 2px auto 2px auto;
        font-size: 15px;
        line-height: 20px;
    }
    .game-end p:first-child {
        margin: 10px;
        font-size: 20px;
        padding-bottom: 5px;
        line-height: 20px;
    }
    #close-pop {
        height: 30px;
        line-height: 30px;
        width: 30px;
        margin: 0;
    }
}