:root {
    --lightBlueTransparent: rgba(0, 43, 120, 0.7);    
    --lightBlueVeryTransparent: rgba(0, 43, 120, 0.5);
    --mainBlueOpaque: rgb(0, 43, 120, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Amatic SC','roboto', sans-serif;
    margin: 0;
    background-color: rgb(8, 8, 8);
}

/***************** Navigation Bar Start ************/
#navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    z-index: 11;
    height: max-content;
    background-color: var(--mainBlueOpaque);
}
.nav-list {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: flex-end;
}
.nav-list_item {
    list-style: none;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 300;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}
/* Media queries */
@media (max-width: 650px) {
    .nav-list {
        justify-content: center;
    }
    .nav-list_item {
        font-size: 1.25rem;
        padding: 15px;
    }
}
@media (max-width: 400px) {
    #navbar {
        height: 50px;
    }
    .nav-list_item {
        padding: 0 10px;
        font-size: 1.1rem;
    }
}
@media (max-width: 300px) {
    .nav-list_item {
        font-size: 1rem;
    }
}
/***************** Navigation Bar End ************/
/*************** Welcome Section Start *************/
#welcome-section {
    background-color: rgb(8, 8, 8);
    color: #fff;
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    z-index: 1;
}
#earth {
    height: 300px;
    width: 300px;
    background-color: #001740;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 5%;
    box-shadow: 0 0 30px #b8d2ff;
    z-index: 3;
}
#map {
    height: 100%;
    width: 100%;
    z-index: 3;
}
#astronaut {
    position: absolute;
    z-index: 4;
    height: 120px;
    top: 42%;
    left: 23%;
    transform-origin: 50% 50%;
    animation: float-in-space 10s linear infinite;
}
@keyframes float-in-space {
    0% {transform: translateX(0px) translateY(0px) rotate(0deg);}
    25% {transform: translateX(5px) translateY(5px) rotate(-5deg);}
    50% {transform: translateX(0px) translateY(0px) rotate(0deg);}
    75% {transform: translateX(-5px) translateY(-5px) rotate(5deg);}
    100% {transform: translateX(0x) translateY(0px) rotate(0deg);}
}
.welcome-section_text {
    font-family: 'Amatic SC','roboto', sans-serif;
    position: absolute;
    text-align: center;
    left: 59%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    width: auto;
    z-index: 5;
    font-weight: 200;
    overflow: hidden;
}
#about-me {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
#about-me_text {
    margin-right: 50px;
}
#profile-picture {
    height: 125px;
    width: 125px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid var(--mainBlueOpaque);
}
#welcome-section_heading {
    font-size: 3rem;
    font-weight: 100;
    margin: 20px auto;
    width: max-content;
}
#welcome-section_sub-heading {
    font-size: 2rem;
    width: max-content;
    font-weight: 300;
    margin: 20px auto 30px auto;
}
#welcome-section_description {
    font-size: 1.2rem;
    font-weight: 100;
}
.languages {
    display: flex;
    justify-content: center;
    z-index: 5;
}
.language {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
    margin: 0 10px;
}
.language_logo {
    height: 50px;
    width: 50px;
    margin: auto;
}
.language_text {
    margin: 10px 0;
}
.text--bold {
    font-weight: 400;
}
.background-bar-one {
    position: absolute;
    bottom: -20%;
    right: -99px;
    transform: rotate(-45deg);
    width: 314px;
    height: 128px;
    background-color: rgba(46, 46, 46, 0.5);
}
.background-bar-two {
    display: none;
}
.triangle {
    background-color: #fff;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    transition: all 50s linear;
    animation: star-glow 1s ease-in-out infinite;
}
@keyframes star-glow {
    0% {box-shadow: 0 0 1px #fff;}
    20% {box-shadow: 0 0 8px #fff;}
    80% {box-shadow: 0 0 8px #fff;}
    100% {box-shadow: 0 0 1px #fff;}
}
.arrow-double-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    animation: arrow-animation 0.3s ease-in-out infinite;
    z-index: 10;
}
@keyframes arrow-animation {
    0% {bottom: 25px;}
    50% {bottom: 23px;}
    100% {bottom: 25px;}
}
.arrow-button {
    height: 100%;
    width: 100%;
}
/***** media queries welcome section ********/

@media (max-width: 1440px) {
    #earth {
        height: 400px;
        width: 400px;
    }
    .welcome-section_text {
        left: 67%;
        top: 45%;
    }
    #welcome-section_heading {
        font-size: 2.7rem;
    }
    #welcome-section_sub-heading {
        font-size: 2.1rem;
    }
}
@media (max-width: 1024px) {
    #earth {
        height: 250px;
        width: 250px;
        left: 5%;
    }
    #astronaut {
        height: 100px;
        top: 43%;
    }
    .welcome-section_text {
        padding: 30px 10px;
    }
    #profile-picture {
        height: 80px;
        width: 80px;
    }
    #welcome-section_heading {
        font-size: 2rem;
    }
    #welcome-section_sub-heading {
        font-size: 1.6rem;
    }
    #welcome-section_description {
        font-size: 1.1rem;
    }
    .arrow-double-link {
        height: 30px;
    }
}
@media (max-width: 768px) {
    #welcome-section {
        display: flex;
    }
    .welcome-section_text {
        display: flex;
        flex-direction: column;
        position: static;
        margin: auto;
        transform: none;
        height: auto;
        padding: 30px 10px;
        width: 80%;
    }
    #profile-picture {
        margin: 0 auto;
        height: 75px;
        width: 75px;
    }
    #welcome-section_heading {
        font-size: 1.3rem;
        margin: 15px auto 20px auto;
    }
    #welcome-section_sub-heading {
        font-size: 1.2rem;
        margin: 5px auto 15px auto;
    }
    #welcome-section_description {
        width: 70%;
        font-size: 1rem;
        margin: 10px auto;
    }
    .arrow-double-link {
        width: 100px;
        height: 100px;
    }
    #earth {
        display: block;
        height: 450px;
        width: 450px;
        top: 1%;
        left: 0%;
        transform: translateX(-50%) translateY(-50%);
    }
    #astronaut {
        height: 100px;
        top: 9%;
        left: 27%;
    }
    .triangle {
        height: 2px;
        width: 2px;
    }
}
@media (max-width: 650px) {
    .arrow-double-link {
        height: 60px;
    }
}
@media (max-width: 425px) {
    .welcome-section_text {
    width: 85%;
    }
    #welcome-section_heading {
        font-size: 1.2rem;
        margin: 8px auto 15px auto;
    }
    #welcome-section_sub-heading {
        font-size: 1.1rem;
        margin: 4px auto 15px auto;
    }
    #welcome-section_description {
        font-size: 0.9rem;
        margin: 4px auto;
    }
    .arrow-double-link {
        width: 100px;
        height: 100px;
    }
    #earth {
        display: none;
    }
    #astronaut {
        height: 100px;
    }
}
@media (max-width: 300px) {
    #navbar {
        height: 30px;
    }
    .welcome-section_text {
        width: 100%;
    }
    #profile-picture {
        margin: 0 auto;
        height: 50px;
        width: 50px;
    }
    #welcome-section_heading {
        font-size: 0.85rem;
        margin: 8px auto 5px auto;
    }
    #welcome-section_sub-heading {
        font-size: 0.8rem;
        margin: 4px auto 10px auto;
    }
    #welcome-section_description {
        font-size: 0.7rem;
        margin: 4px auto;
    }
    .arrow-double-link {
        width: 68px;
        height: 14px;
    }
}

/*************** Welcome Section Start *************/

/********** Project Section start ************/

#projects {
    font-family: 'roboto', sans-serif;
    position: relative;
    color: #fff;
    padding-top: 60px;
}
#projects__text {
    font-family: 'Amatic SC','roboto', sans-serif;
    font-size: 2.5rem;
    width: 50vw;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.project {
    width: 55vw;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.project__element {
    margin: 10px;
}
.project__head {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.project__title {
    font-size: 1.1rem;
    margin: auto 5px;
}
.project__icon {
    height: 40px;
    width: 40px;
    border-radius: 25%;
    margin: 0 5px;
}
.project__description {
    font-size: 1rem;
    margin: 40px;
}
.project__technology {
    display: flex;
    justify-content: center;
}
.technology__member {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.technology__image {
    height: 100%;
    width: 100%;
}
.gotreks {
    background: linear-gradient(45deg, rgba(0, 148, 67, 1), rgba(0, 96, 148, 1));
}
.trip-visualizer {
    background: linear-gradient(45deg, rgba(0, 56, 71, 1), rgba(112, 84, 62, 1));
}

/************ Project section media queries *********/
@media (max-width: 425px) {
    .project {
        width: 85vw;
        padding: 10px;
    }
    .project__description {
        margin: 20px;
    }
}
/************ Project Section end ************/

/* Footer social start */
#footer {
    font-family: 'Amatic SC','roboto', sans-serif;
    background-color:#000;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 20vh;
}
.about-us {
    margin: 10px auto;
}
.footer_sub-heading {
    padding: 5px;
}
.footer-social {
    box-sizing: border-box;
    margin: 10px auto;
    display: flex;
}
.profile-link {
    padding: 10px;
}
.social-icon {
    width: 50px;
}
.text {
    margin: 5px auto;
}
.text--narrow {
    /* To reduce the width of text column */
    width: 75%;
}
.text--center {
    text-align: center;
}
.text--large {
    /* meant for sub-heading */
    font-size: 1.2rem;
}
@media (max-width: 650px) {
    .social-icon--footer {
        margin: 0 5px;
       }
}
.section_about-us {
    padding: 10px 0;
}

/* Footer social end */