body {
    font-family: monospace, sans-seriff;
    max-width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
}

#heading {
    font-size: 1.25rem;
    text-align: center;
}

#table {
    margin: auto;
}

#table {
    max-width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#violet {
    background-color: #7bdff2;
}

#indigo {
    background-color: #5dd39e;
}

#blue {
    background-color: #f67e7d;
}

#green {
    background-color: #5e548e;
}

#teal {
    background-color: #32936f;
}

@media (max-width: 400px) {
  #table {    
    max-width: 90%;
  }
}