body {
    width: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
}

h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

#table {
    margin: auto;
}

#table {
    width: 600px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#violet {
    background-color: #7bdff2;
}

#indigo {
    background-color: #5dd39e;
}

#blue {
    background-color: #f67e7d;
}

#green {
    background-color: #5e548e;
}

#teal {
    background-color: #32936f;
}